body {
    font-size: 18px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 120%;
  }
  
  main {
    background: rgb(39, 134, 204);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .location {
    align-self: center;
    padding: 10%;
  }
  .location h1 {
    color: white;
    font-size: 300%;
    font-weight: 900;
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .location p {
    color: white;
    margin-bottom: 60px;
  }
  
  .featured {
    align-self: center;
  }
  .featured .slider {
    list-style: none;
    padding: 0;
  }
  .featured .slider li {
    height: 400px;
    width: 300px;
    border-radius: 4px;
    background-color: #00bcd4;
    display: flex;
  }
  .featured .slider li h2 {
    margin-top: auto;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    background-color: rgb(39, 134, 204);
    color: white;
    bottom: 0;
  }
  .featured .slider li:nth-child(n) {
    background-color: #3599db;
  }
  .featured .slider li:nth-child(2n) {
    background-color: #e61b77;
  }
  .featured .slider li:nth-child(3n) {
    background-color: #00bcd4;
  }
  .featured .slider li:nth-child(4n) {
    background-color: #f4b251;
  }
  .featured .slider li:nth-child(5n) {
    background-color: #8e4497;
  }
  
  /* STACKED CARDS */
  .stacked-cards {
    position: relative;
  }
  
  .stacked-cards ul {
    position: relative;
    max-width: 60%;
    margin: 0 auto;
    padding-left: 0;
  }
  
  .stacked-cards li {
    margin-top: 5px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0px #333;
    list-style: none;
    width: 65%;
    position: absolute;
    left: 50%;
    transition: 0.5s ease transform;
  }
  
  .stacked-cards li:after {
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  .stacked-cards li img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 4;
  }
  
  .stacked-cards li.active {
    cursor: default;
    box-shadow: 0 5px 10px 0px #333;
    transition: 0.5s ease transform;
  }

  .knop{
    height: 10vh;
    width: 12vw;
    display: flex;
    align-items: center;
  }

  @media(max-width: 800px ) 
  {
    .stacked-cards li {
      margin-top: 5px;
      cursor: pointer;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0px #333;
      list-style: none;
      width: 60%;
      left: 10%;
      transition: 0.5s ease transform;
    }

    .stacked-cards {
      position: fixed;
      max-width: 20%;
    }
  }