.area {
    background: white  !important;
}

.sub-title {
    color: var(--sdg1);
}

.sdg-title {
    color: var(--sdg1);
    font-size: 5em;
}

.sdg {
    background-color: var(--sdg1);
}

.start-button {
    background-color: var(--sdg1) !important;
}
