.area {
    background: white  !important;
}

.sub-title {
    color: var(--sdg2);
}

.sdg-title {
    color: var(--sdg2);
}

.circles li{
    background: var(--sdg2) !important;
}

.sdg {
    background-color: var(--sdg2);
}

.start-button {
    background-color: var(--sdg2) !important;
}
