.area {
    background: white  !important;
}

.sub-title {
    color: var(--sdg5);
}

.sdg-title {
    color: var(--sdg5);
    font-size: 5em !important;
}

.circles li{
    background: var(--sdg5) !important;
}

.sdg {
    background-color: var(--sdg5);
}

.start-button {
    background-color: var(--sdg5) !important;
}
