.area {
    background: white  !important;
}

.sub-title {
    color: var(--sdg3);
}

.sdg-title {
    color: var(--sdg3);
    font-size: 4em !important;
}

.circles li{
    background: var(--sdg3) !important;
}

.sdg {
    background-color: var(--sdg3);
}

.start-button {
    background-color: var(--sdg3) !important;
}
