.intro-box-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    color: white;
}

.intro-box {
    display: flex;
    flex-direction: column;
    width: 850px;
    align-items: center;
    text-align: center;
    margin-top: 5em;
}

.intro-box .button {
    background-color: white;
    color: #278fd1;
    position: absolute;
    padding: 1em 3em;
    bottom: 11.5%;
    font-size: 2em;
}

.intro-box .button:hover {
    bottom: 11%;
}

#globe {
    height: 800px;
    width: 800px;
    position: absolute;
    z-index: -1;
    bottom: -300px;
    border-radius: 100%;
    overflow: hidden;
}

.swiper-box {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.swiper-container {
    height: 80%;
    width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
}

.swiper {
    width: 400px;
    height: 400px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px;
}

.swiper-slide a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide a img {
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    background: none;
    font-weight: 900;
    position: absolute;
    outline:0 !important
}

.swiper-button-prev i,
.swiper-button-next i {
    color: var(--white);
    font-size: 8em;
}

.swiper-button-prev i {
    text-shadow: -4px 4px 0px rgba(0, 0, 0, 0.105);
}

.swiper-button-next i {
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.105);
}

.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
  }

.mobile-buttons {
    position: absolute;
    display: flex;
    width: 850px;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animate-fast {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.one {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }


    to {
        transform: translateY(1000px);
        -webkit-transform: translateY(1000px);
        opacity: 1;
    }
}

@keyframes fadeInDownGlobe {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}


.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeInDownGlobe {
    -webkit-animation-name: fadeInDownGlobe;
    animation-name: fadeInDownGlobe;
}

@media only screen and (max-width: 900px) {
    .nav_half {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        justify-content: space-between;
    }
    .nav_logo1 {
        height: 6vh;
    }
    .nav_logo2 {
        height: 6vh;
    }
    .intro-box {
        width: auto;
    }
    .swiper-container {
        width: 500px;
    }
    .swiper-box {
        height: 70vh;
    }
    .mobile-buttons {
        width: 300px;
        display: block;
        bottom: -3em;
    }
    .desktop-buttons {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .intro-box {
        margin-top: 10em;
    }
}