.area {
    background: white  !important;
}

.sub-title {
    color: var(--sdg4);
}

.sdg-title {
    color: var(--sdg4);
    font-size: 4em;
}

.circles li{
    background: var(--sdg4) !important;
}

.sdg {
    background-color: var(--sdg4);
}

.start-button {
    background-color: var(--sdg4) !important;
}
