.area {
    background: white  !important;
}

.sub-title {
    color: var(--sdg14);
}

.sdg-title {
    color: var(--sdg14);
    font-size: 4em;
}

.sdg {
    background-color: var(--sdg14);
}

.start-button {
    background-color: var(--sdg14) !important;
}
