.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.opdracht-content {
    width: 50%;
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}