.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.nav_half {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    justify-content: space-between;
    margin-right: .5%;
}

.nav_logo1 {
    height: 75%;
}

.nav_logo2 {
    height: 75%;
}
