:root {
    --primary: #278FD1;
    --secondary: #9CCC65;
    --white: #FFFFFF;
    --black: #141414;
    --sdg1:#EB3323;
    --sdg2: #E4AC3E;
    --sdg3: #479d2c;
    --sdg4: #c82c2d;
    --sdg5: #EC5128;
    --sdg6: #65ABD1;
    --sdg7: #ECC05A;
    --sdg8: #862A35;
    --sdg9: #DF7845;
    --sdg10: #D84670;
    --sdg11: #E6B355;
    --sdg12: #D68E46;
    --sdg13: #608D42;
    --sdg14: #4981D2;
    --sdg15: #87C05F;
    --sdg16: #305592;
    --sdg17: #2F2C8B;
  }